/*------------------------------------*\
    CLASES GENERALES USADOS POR CUALQUIER 
    ELEMENTO DEL DOM
\*------------------------------------*/

/**
* Mostrar y ocultar elementos
**/
.show
	display block !important
.hide
	display none !important
/**
Estilo para bordes
**/
.round_small
	border-radius 5px
.round_medium
	border-radius 15px
.round_big
	border-radius 25px
.round_full
	border-radius 50%
// Para texto
.pull_right
	text-align right
.center
	text-align center

.down
	margin-top .5rem
	position relative
	display block !important