/*------------------------------------*\
    $Configuracion de Variables
\*------------------------------------*/

// Configuracion de colores y fondos

fondo_encab_pagina = rgba(0,0,0,0.79)

texto_blanco = white

texto_negro = black

fondo_azul = #0080ff

// color azul primary (primario)
color_primary = #2980b9;

// color verde de sucesful (satisfactoria)
color_success=#2ecc71

// color anranjado de warning (advertencia)
color_warning=#e67e22

// color rojo de error (error)
color_error = #CF000F
 
 // color para infomacion

color_info = #52B3D9