/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .styl) que se van
 * a compilar en el CSS definitivo: /css/style.css.
 */


/**
* Librerías y configuraciones
**/

@import "nib"
@import "lib/normalize.styl"
@import "lib/_settings.styl"
@import "lib/_mixins.styl"

/**
*  Elementos Base
**/
@import "base/base.styl"
@import "base/apartado.styl"

/**
**  Elementos componentes
**/

@import "elementos/_formularios.styl"

@import "layout/_grid.styl"

/**
* Abstracciones y objetos
**/

@import "abstracciones/_pagination.styl"
@import "abstracciones/_iconfonts.styl"
@import "abstracciones/_general.styl"
@import "abstracciones/_links.styl"
@import "abstracciones/_botones.styl"
@import "abstracciones/_tables.styl"